
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Berkshire+Swash&family=Great+Vibes&family=Roboto:wght@500&family=Rubik:ital,wght@1,500&display=swap');

/* Banner-section start */
.header-section{
    display: flex;
    flex: 1;
    background-color: rgb(29, 27, 27);
    justify-content:space-evenly;
    border-radius: 20px;
    padding-top: 50px;
    margin-top: 50px;
    padding-left:30px;

    
}
.banner-des{
    margin-bottom: 30px;
}
.heading{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 40px;
}
.paragraph{
    font-size: 12px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    font-size: 20px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.4s;
}
.btn:hover{
    transform: scale(1.2);
    background-color: rgb(219, 162, 16);
}

/* Banner-section end */


/* main section start */
.main-section{
    
    display: flex;
    border-radius: 20px;
    padding-top: 50px;
    margin-top: 50px;
    
}
.menu-bar{

    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    border-radius: 20px;

}
.menu-bar button{
    width: 252px;
    height: 64px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
    margin: 15px auto;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
   
}
.menu-bar .btn1{
   background-color: rgb(230, 49, 17);
   color: white;
}
.Blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.Blog{
    margin-left: 30px;
    border: 1px solid rgb(199, 191, 191);
    border-radius: 20px;
    width: 312px;
    height: 100%;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-para{
    font-weight: bolder;
    font-size: 20px;
}
.btn2{
    margin-top: 20px;
}
.Blog-detail{
    margin-left: 20px;
}

.detail{
    margin-top: 60px;
    text-align: center;
}
.Blog-icon{
    display:flex;
    align-items: center;
    padding-bottom: 20px;
    color:rgb(65, 66, 64);


}
.blog-title{
    margin-bottom: 30px;
}
.Blog-banner{
    display: flex;
    justify-content: center;
}
.flag{
    margin-top: 80px;
}
.blog-img img{
    width: 250px;
    height: 200px;
}

.Blog-icon .clock{
    display: flex;
    align-items: center;
}
.Blog-icon .messege{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.btn3{
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    display: none;

}

/* main section end */

/* footer section start */
footer{
    background-color: black;
    height: 480px;
    margin-top: 100px;
  
}
hr{
    width: 80%;
    margin-top: 50px;
}

.footer-heading{
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
    padding-top: 130px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.about .about-para{
    margin-left: 40px;
}
.about-para{
    color: white;
    font-size: 20px;

}
.fa-brands{
    color: white;
    font-size: 40px;
    transition: transform 0.3s;
}
.social-icon{
    text-align: center;
    margin-top: 20px;
}
.social-icon .fa-brands{
    padding: 20px;
}
.fa-brands:hover{
    transform: scale(1.2);
}
/* footer section end */


/* Responsive start */

/**************** For mobile  ************************/
@media screen and (max-width:576px) {
    body{
        width: 100%;
    }
   .header-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .heading{
    text-align: center;
    font-size:25px ;
   }
   .paragraph{
    text-align: center;
   }
   p{
    text-align: center;
   }
   .main-section{
    flex-direction: column;
   }
   .menu-bar{
    background-color: white;
   }
   .Blogs{
    display: grid;
    grid-template-columns: repeat(1,1fr);

   }
   
   .blog-para{
    text-align: justify;
   }
   footer{
    height: 100%;
}
   .about{
    flex-direction: column;
    margin-right: 30px;
   }
   .about-para{
    font-size: 16px;
   }
}

/******************* For Tab ********************/
@media screen and (min-width:577px) and (max-width:768px) {
    .main-section{
        flex-direction: column;
    }
    .menu-bar{
        flex-direction: row;
        width: 55%;
        height: 100%;
        background-color: white;
        
    }
    .menu-bar button{
        width: 210Px;
        height: 60px;
        margin: 0 10px;
        font-size: 18px;
       
    }
    
    .Blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .Blogs .last{
        display: none;
    }
    .blog-para{
        text-align: left;
       }
    .btn3{
        display: inline;
        margin-top: 30px;
        border: none;
        border-radius: 10px;
    }
    p{
        text-align: center;
    }
    .about{
        margin-right: 20px;
       }
    .about-para{
        font-size: 16px;
    }
      

}
/* Responsive end */